<div class="custom-slider">
  <ngx-slider 
    [(value)]="value" 
    [(highValue)]="maxValue"
    [options]="options" 
    (valueChange)="filter($event)">
  </ngx-slider>

</div>
<div class="container-button" *ngIf="objetoNovo < 1 ">
  <p class="warning">Lista não encontrada</p>
  <button  style="cursor: pointer;" (click)="reset()">Voltar</button>
</div>
<div class="row">

  <form *ngFor="let value of objetoNovo"><br>
    <div class="card">
      <div class="container">
        <img src={{value.img}} alt="perfil">
        <h1>Dominio: {{value.title}}</h1>
        <p>Aplicação Inicial: </p>
        <p> {{ value.AplicacaoInicial | currency : "BRL"}}</p>
      </div>
  
    </div>
  </form>
</div>