<div class="row d-flex align-items-center justify-content-center">
    <div class="row">
        <form class="card" [formGroup]="cadastro" (ngSubmit)="cadastrar()">
            <div class="card-body pb-4">
                <div>
                    <input required formControlName="title" type="text" placeholder="insira um titulo">
                </div>
                <div>
                    <input required formControlName="AplicacaoInicial" type="number" placeholder="insira um valor">
                </div>
                <div>
                    <input required formControlName="img" type="text" placeholder="insira uma url de img">
                </div>
            </div>
            <div>
                <button type="submit" [disabled]="!cadastro.valid" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>

    </div>

</div>
<!-- <ngbd-alert-closeable [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngbd-alert-closeable> -->

<div class="container-alert">
    <div *ngIf="alertSuccess" class="alert alert-success" role="alert">
        Seu produto foi inseerido com sucesso.😉
    </div>

    <div *ngIf="alertErro" class="alert alert-danger" role="alert">
        Algo deu errado, tente novamente mais tarde.☹ {{msgErro}}
    </div>
</div>



<div class="col-12 pd-0 custom-slider">
    <ngx-slider [(value)]="value" [(highValue)]="maxValue" [options]="options" (valueChange)="filter($event)">
    </ngx-slider>

</div>


<div class="container-button" *ngIf="objetoNovo < 1 ">
    <p class="warning">Lista não encontrada</p>
    <button class="btn btn-primary" style="cursor: pointer;" (click)="reset()">Voltar</button>
</div>
<div class="container-fluid p-0">
    <div class="row d-flex align-items-center justify-content-center">
        <!-- <div class=""> -->

        <form class="col-2" *ngFor="let value of objetoNovo"><br>
            <div class="card">
                <div class="col-12">
                    <img class="card-img-top radius" src={{value.img}} alt=" perfil ">
                    <h3 class="title">Dominio: </h3>
                    <p class="title-value">{{value.title}}</p>
                    <!-- <p>{{value.id}}</p> -->
                    <p>Aplicação Inicial: </p>
                    <p> {{value.AplicacaoInicial | currency: 'BRL'}}</p>
                </div>

                <button (click)="excluir()" class="btn btn-danger ">excluir</button>
                <button (click)=" open()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   editar
                  </button>
            </div>
        </form>
        <div class="modal-header" *ngIf="openModal">
            <h4 class="modal-title">Hi there!</h4>
            <button type="button" class="btn-close" aria-label="Close"></button>

            <div class="modal-body">
                <p>Hello, {{name}}!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark">Close</button>
            </div>
        </div>

        <!-- </div> -->
    </div>
</div>