<div class="col-4">
    <div class="">
        <form class="card" [formGroup]="cadastro" (ngSubmit)="cadastrar()">
            <div class="card-body pb-4">
                <div>
                    <input required formControlName="title" type="text" placeholder="insira um titulo">
                </div>
                <div>
                    <input required formControlName="AplicacaoInicial" type="number" placeholder="insira um valor">
                </div>
                <div>
                    <input required formControlName="img" type="text" placeholder="insira uma url de img">
                </div>
            </div>
            <div>
                <button type="submit" [disabled]="!cadastro.valid" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>

    </div>

</div>
<!-- <ngbd-alert-closeable [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngbd-alert-closeable> -->
<div *ngIf="alertSuccess" class="alert alert-info" role="alert">
    Seu produto foi inseerido com sucesso.😉
</div>
<div *ngIf="alertErro" class="alert alert-danger" role="alert">
    Algo deu errado, tente novamente mais tarde.☹ {{msgErro}}
</div>

<div class="custom-slider">
    <ngx-slider [(value)]="value" [(highValue)]="maxValue" [options]="options" (valueChange)="filter($event)">
    </ngx-slider>

</div>


<div class="container-button" *ngIf="objetoNovo < 1 ">
    <p class="warning">Lista não encontrada</p>
    <button class="btn btn-primary" style="cursor: pointer;" (click)="reset()">Voltar</button>
</div>
<div class="row">

    <form *ngFor="let value of objetoNovo"><br>
        <div class="card">
            <div class="container">
                <img src={{value.img}} alt="perfil">
                <h1>Dominio: {{value.title}}</h1>
                <p>{{value.id}}</p>
                <p>Aplicação Inicial: </p>
                <p> {{value.AplicacaoInicial | currency: 'BRL'}}</p>
            </div>

            <button (click)="excluir()" class="btn btn-danger">excluir</button>
        </div>
    </form>
</div>